:host {
  padding: 4em 8rem 4rem;
  display: flex;

  mat-card {
    margin: 1rem;
    width: 50%;
  }

  .config-content {
    display: flex;
    flex-direction: column;
    width: max-content;
  }

  .error {
    color: var(--mat-form-field-error-text-color);
  }

  mat-card-subtitle {
    padding: 1rem;
  }
}

